In [1]:
dictionary = {
    'A':'Sable',
    'B':'Sachiyo',
    'C':'femme',
    'D':'Saitama',
    'E':'Trip',
}
dictionary

{'A': 'Sable', 'B': 'Sachiyo', 'C': 'femme', 'D': 'Saitama', 'E': 'Trip'}

In [2]:
dictionary.keys()

dict_keys(['A', 'B', 'C', 'D', 'E'])

In [3]:
dictionary.values()

dict_values(['Sable', 'Sachiyo', 'femme', 'Saitama', 'Trip'])

In [6]:
'femme' in dictionary.values()

True

In [4]:
for key, value in dictionary.items():
    print(f'The key is {key}, The value is {value}')

The key is A, The value is Sable
The key is B, The value is Sachiyo
The key is C, The value is femme
The key is D, The value is Saitama
The key is E, The value is Trip

In [3]:
dictionary.get('B')

'Sachiyo'

In [23]:
dictionary.get('A')

'Sable'

In [5]:
num = 5

if num > 0:
    print('postitive')
elif num == 0:
    print('0')
else :
    print('negative')

postitive

In [6]:
a = 3

if 0 <+ a < 10 and a % 2 == 0:
    print('postive')
elif a < 0 and a % 2 == 1:
    print('negative')
else:
    print('eqal')

eqal

In [35]:
names = ['John', 'Kevin', 'Louis']

In [36]:
for name in names:
   print(name)

John
Kevin
Louis

In [40]:
for i in range(10, 20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [42]:
for i in range(10):
    if i == 6:
        print('finish')
        break
    print(i)

0
1
2
3
4
5
finish

In [43]:
for i in range(10):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [7]:
lasts = ['Kato', 'Sato','Tanaka']
firsts = ['yuichi', 'takuya','shoko']

for last, first in zip(lasts, firsts):
    print(last+' '+first)

Kato yuichi
Sato takuya
Tanaka shoko

In [9]:
lasts = ['Kato', 'Sato','Tokoro']

In [10]:
for i, last in enumerate(lasts):
    print(f'The number {i} of {last}')

The number 0 of Kato
The number 1 of Sato
The number 2 of Tokoro

In [86]:
nums = []
nums

[]

In [87]:
for i in range(5):
    nums.append(2 * i)

In [88]:
nums

[0, 2, 4, 6, 8]

In [13]:
numbers = [2*i for i in range(10)]

In [14]:
numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [2]:
num = 4
try:
    print(f'result is : {10/num}')
except ZeroDivisionError as e:
    print('error')

result is : 2.5

In [102]:
def divide(a, b):
    try:
        print(f'culcu: {a/b}')
    except ZeroDivisionError as e:
        print(e)
    except TypeError as e:
        print(e)

In [104]:
divide(10, 'zero')

unsupported operand type(s) for /: 'int' and 'str'

In [111]:
def divide(a, b):
    try:
        print(f'culcu: {a/b}')
    except ZeroDivisionError as e:
        print(e)
    except TypeError as e:
        print(e)
    else:
        print('finish')

In [112]:
divide(10, 2)

culcu: 5.0
finish

In [114]:
def divide(a, b):
    try:
        print(f'culcu: {a/b}')
    except ZeroDivisionError as e:
        print(e)
    except TypeError as e:
        print(e)
    finally:
        print('finish all')

In [115]:
divide(10, 2)

culcu: 5.0
finish all

In [116]:
def divide(a, b):
    try:
        print(f'culcu: {a/b}')
    except ZeroDivisionError as e:
        print(e)
    except TypeError as e:
        pass
    finally:
        print('finish all')

In [117]:
divide(10, 'zero')

finish all

In [123]:
class Person:
    nationality = 'Japan'

    def say_hello(self):
        print(f'Hello! My nationality is {self.nationality}')

In [125]:
person = Person()

In [126]:
person.nationality

'Japan'

In [127]:
person.say_hello()

Hello! My nationality is Japan

In [128]:
class Person:
    nationality = 'Japan'

    def __init__(self, name):
        self.name = name
        
    def say_hello(self):
        print(f'Hello! My nationality is {self.nationality}')

    def say_my_name(self):
        print(f'My name is {self.name}')

In [129]:
sable = Person('SABLE')

In [130]:
sable.nationality

'Japan'

In [131]:
sable.name

'SABLE'

In [133]:
sable.say_my_name()

My name is SABLE

In [134]:
sable.say_hello()

Hello! My nationality is Japan

In [136]:
class Kid(Person):
    def say_hello(self, age):
        print(f'My name is {self.name}, My age is {age}')

In [138]:
kid = Kid('Lily')

In [139]:
kid.name

'Lily'

In [140]:
kid.nationality

'Japan'

In [141]:
kid.say_hello(12)

My name is Lily, My age is 12